@font-face {
	font-family:"Kaushan_Script";
	src: url("../fonts/Kaushan_Script/KaushanScript-Regular.ttf") format("truetype");
	font-style: normal;
  	font-weight: normal;
}
@font-face {
	font-family:"Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
	font-style: normal;
  	font-weight: normal;
}
@font-face {
	font-family:"Montserrat_bold";
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
	font-style: normal;
  	font-weight: normal;
}
@font-face {
	font-family:"Roboto_regular";
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
  	font-weight: normal;
}
@font-face {
	font-family:"Roboto-LightItalic";
	src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
	font-style: normal;
  	font-weight: normal;
}